<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Foro</title>
    {% include '_bootstrap.html'%}
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">
        <h1> Crear Foro</h1>
        <div class="row my-3">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" name="crear" value="Foro">
                        Crear Foro
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>