<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Mensaje</title>
    {% include '_bootstrap.html' %}
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}  
                    <button type="submit" name="enviar" value="Enviar" class="btn btn-primary">
                        Enviar
                    </button>
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>