<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinosaurio</title>

    <!-- Model Viewer -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer/dist/model-viewer.min.js"></script>
    {% include '_bootstrap.html' %}
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">
        <div class="row">
            <h1>{{ dinosaurio.nombre }}</h1>
        </div>
        <div class="row">
            <model-viewer src="{{ dinosaurio.modelo3D.url }}" ar ar-modes="scene-viewer quick-look" camera-controls></model-viewer>
        </div>  
        
        <div class="row">
            <div class="row">
                <div class="col">{{ dinosaurio.descripcion }}</div>
            </div>
            <div class="row">
                <div class="col"><button>Rugido</button></div>
                <div class="col">
                    <div class="card" style="width: 60%;">
                        <img src="{{ dinosaurio.alimentacion.imagen.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5>{{ dinosaurio.alimentacion.nombre }}</h5>
                            <p class="card-text">{{ dinosaurio.alimentacion.descripcion }}</p>
                        </div>
                    </div>
                </div>
                <div class="col"><button>Escuchar</button></div>
                
            </div>
        </div>
            
        </div>
    </div>
</body>
</html>