<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    {% include '_bootstrap.html' %}
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="aceptar" value="Aceptar" class="btn btn-primary">Aceptar</button>
        </form>
        
    </div>
</body>
</html>