<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    {% include '_bootstrap.html' %}
</head>
<body>
    {% include '_navbar.html' %}
    <div class="container">
        <h1>Bienvenido, {{usuario.first_name}}</h1>
        
        {% for dino in dinosaurios %}
            {% if forloop.counter0|divisibleby:3 %}
                <div class="row">
            {% endif %}

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class ="img-fluid" src="{{ dino.imagen.url }}" alt="{{ dino.nombre }}">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">{{ dino.nombre }}</h5>
                        <form method="post">
                            {% csrf_token %}
                            {{ dino.form_id.id_dinosauario }}
                            <button type="submit" name="editar" value="Editar" class="btn btn-primary">Editar</button>
                            <button type="submit" name="eliminar" value="Eliminar" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div><!-- Fin card -->
            </div>

            {% if forloop.counter0|divisibleby:3 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>